@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤바 숨기기 */
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE 및 Edge에서 스크롤바 숨기기 */
    scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
  }
}

.title1 {
  font-family: Pretendard;
  font-size: 32px;
  font-weight: 600;
  line-height: 41.6px;
  letter-spacing: -0.02em;
}

.title2 {
  font-family: Pretendard;
  font-size: 28px;
  font-weight: 600;
  line-height: 36.4px;
  letter-spacing: -0.02em;
}

.title3 {
  font-family: Pretendard;
  font-size: 22px;
  font-weight: 600;
  line-height: 28.6px;
  letter-spacing: -0.02em;
}

.title4 {
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: -0.02em;
}

.title5 {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}

.body1 {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: -0.02em;
}

.body2 {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}

.body3 {
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.02em;
}

.caption1 {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}

.caption2 {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.6px;
  letter-spacing: -0.02em;
}

.caption3 {
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.8px;
  letter-spacing: -0.02em;
}

.nav_text {
  font-family: Pretendard;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: center;
}
